* {
    font-family:Arial, Helvetica, sans-serif;
    
}
body {
    background-color: rgb(145, 118, 83);
}
main {
    background-color: antiquewhite;
    width: 750px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
h1 {
    color:darkgreen;
    font-size: 20pt;
    font-weight:100px;
    text-align:center;
}
h2 {
    color: darkgreen;
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
    color: darkgreen;

}
h4 {
    font-size: 10pt;
    color:forestgreen
}
p {
    color:black;
    font-size: 10pt;
    font-weight: lighter;
    font-style: normal;
}
p.destaque {
    color:dimgray;
    font-weight: 600;
}
p.pergunta {
    font-weight: bold;
    font-style: normal;
}
a {
    color:brown;
}